.header__title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: 1px;
}

.header__title::after {
  content: "";
  display: block;
  background: url("../../../images/Rose.png") no-repeat center;
  width: 100%;
  height: 23px;
  margin: 12px 0 0;
}

@media screen and (max-width: 767px) {
  .header__title {
    font-size: 28px;
    line-height: 1.71;
    letter-spacing: 0.8px;
  }

  .header__title::after {
    max-width: 198px;
    margin: -5px auto 0;
  }
}
