.services__list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 65px;
  margin: 0 auto;
  max-width: 1120px;
  width: 90%;
}

@media screen and (max-width: 767px) {
  .services__list {
    flex-direction: column;
    gap: 50px;
    max-width: 330px;
  }
}
